
.btn {
    font-size: 14px;
    .cowporation();

    &-lg {
        line-height: 26px;
    }
}

.btn {
    border-width: 2px;
}

.btn-default {
    //.btn-bordered();
    //background: transparent;
}

.button-variant(@color; @background; @border) {
    &.btn-bordered {
        border-width: 2px;
        border-color: @background;
        color: @background;
        background: transparent;

        &:hover {
            background: transparent;
            border-color: darken(@background, 10%);
            color: darken(@background, 10%);
        }
    }
}
//.button-variant(@btn-primary-bg, @btn-primary-bg, @btn-primary-bg) {
//    .button-variant(@btn-primary-bg, @btn-primary-bg, @btn-primary-bg);
//}


.btn-default {
    &.btn-bordered {
        border-color: @btn-default-color;
        color: @btn-default-color;

        &:hover {
            background: transparent;
            border-color: darken(@btn-default-color, 10%);
            color: darken(@btn-default-color, 10%);
        }
    }
}


//
//    &.btn-primary {
//        //border-color: @btn-primary-bg;
//        //color: @btn-primary-bg;
//
//    }
//
//    &.btn-success {
//        border-color: @btn-success-bg;
//        color: @btn-success-bg;
//    }
//
//    &.btn-info {
//        border-color: @btn-info-bg;
//        color: @btn-info-bg;
//    }
//
//    &.btn-warning {
//        border-color: @btn-warning-bg;
//        color: @btn-warning-bg;
//    }
//
//    &.btn-danger {
//        border-color: @btn-danger-bg;
//        color: @btn-danger-bg;
//    }
//}