
@gutter-size: 45px;

// todo: move to right place
.container {
    overflow: hidden;
}

.story {
    //.make-row(@gutter-size);

    .story-intro {
//        .make-lg-column(6, @gutter-size);
//        .make-md-column(7, @gutter-size);
//        .make-sm-column(8, @gutter-size);
//        .make-xs-column(12, @gutter-size);


    }

    .story-picture {
//        .make-lg-column(6, @gutter-size);
//        .make-md-column(5, @gutter-size);
//        .make-sm-column(4, @gutter-size);
//        .make-xs-column(12, @gutter-size);

        @media (min-width: @screen-md-min) {
            padding-left: 35px;
            padding-right: 35px;
        }

        img {
            width: 100%;

            .img-responsive();
            .img-rounded();
        }

        margin-top: 10px;
        margin-bottom: 35px;
    }

    .story-description {
//        .make-lg-column(6, @gutter-size);
//        .make-md-column(6, @gutter-size);
//        .make-sm-column(12, @gutter-size);
//        .make-xs-column(12, @gutter-size);
    }
}