
@import url("//fonts.googleapis.com/css?family=Roboto:400,500");

@font-face {
    font-family: 'Cronos MM Regular';
    src: url('../fonts/cronos-mm-italic.eot');
    src: url('../fonts/cronos-mm-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cronos-mm-italic.woff') format('woff'),
    url('../fonts/cronos-mm-italic.ttf') format('truetype'),
    url('../fonts/cronos-mm-italic.svg#CronosMMRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lead-small {
    //font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}