
.flexslider {
    border: none;
    background: none;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.flex-control-nav {
    bottom: 15px;
    z-index: 9999;
}

.flex-direction-nav a {
    color: black;
}

.flexslider .container {
    position: relative;
    z-index: 9;
    //text-align: left;
    //height: 480px;

    .carousel-caption {
        display: none !important;
        -webkit-transition: all 500ms linear;
        transition: all 500ms linear;
        opacity: 10;
        filter: alpha(opacity=1000);
        padding: 120px 0 60px 0;
        background: none;
        text-align: center;

        h1 {
            display: inline-block;
            margin: 0 0 0 0;
            padding: 16px 30px;
            background: #000000;
            background: rgba(0, 0, 0, 0.6);
            line-height: 1em;
            color: #ffffff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            font-size: 50px;
            font-weight: 300;
            width: auto;

            &.skincolored {
                background: #428bca;
                background-color: rgba(66, 139, 202, 0.6);

                background: @color1;
                background-color: fadeout(@color1, 40%);
            }
        }

        .lead {
            display: inline-block;
            margin: 0;
            padding: 16px 30px;
            background: #000000;
            background: rgba(0, 0, 0, 0.6);
            line-height: 1.25;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            font-size: 18px;
            font-weight: 300;

            &.skincolored {
                background: #428bca;
                background-color: rgba(66, 139, 202, 0.8);

                background: @color2;
                background-color: fadeout(@color2, 20%);
            }
        }

        .lead, .btn {
            margin-top: 15px;
        }
    }
}