
.section-content {
    background: white;
}

.section-inverse {
    background-color: @color5;
}

.section-inner {
    padding-top: 65px;
    padding-bottom: 65px;
}

// START

.version-2 {
    background: fixed url('../img/body-bg-bottom.png') center bottom no-repeat, fixed url('../img/body-bg-top.jpg') center top repeat-x;
    background-color: #c9e5f2;

    .section-content, .section-inverse {
        background: none;
    }

    .container {
        background: white;
        padding-left: 25px;
        padding-right: 25px;
    }

    .section-inverse {
        .container {
            background: #fdedc7;
        }
    }

    .parallax, .imageHolder {
        display: none;
    }

    .header .container,
    .section-nav .container {
        background: none;
        box-shadow: none;
    }

    .header {
        background: none !important;
    }

    .navbar-fixed-top {
        .container();
        //background: @color2;
        //box-shadow: rgba(0, 0, 0, 0.75) 0 0 20px;
        position: static;
        background: @color2;
    }

    .header {
        margin-bottom: 0 !important;
    }

    .section-nav {
        box-shadow: rgba(0, 0, 0, 0.75) 0 0 20px;
    }

    .container {
        box-shadow: rgba(0, 0, 0, 0.75) 0 20px 20px;
    }
}

.version-2 .section-slideshow, .version-2 .section-nav {
    .container();
    padding-left: 0;
    padding-right: 0;
}