
.footer {
    background: @footer-bg;
    color: @footer-color;
    font-size: 80%;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;

        .text-center();
    }

    a {
        color: @footer-color;
    }
}