
.header {
    //background: url('../img/body-bg-bottom.png') center bottom no-repeat, url('../img/body-bg-top.jpg') center top repeat-x;
    //background-color: #c9e5f2;

    background: url('../img/body-bg-top.jpg') center top repeat-x;
    background-color: #c9e5f2;

    .logo {
        margin: 20px 0;
        text-align: center;

        img {
            max-width: 100%;
        }

        .title {
            font-family: 'Cronos MM Regular', sans-serif;
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
            font-size: 37px;
            text-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            line-height: normal;
            margin-left: 10px;
            color: white;

            @media (max-width: @screen-xs-max) {
                display: block;
                text-align: center;
                margin-top: 15px;
            }

            .sub {
                display: block;
                font-size: 18px;
                text-transform: none;
            }
        }
    }
}