
.nav {
    .cowporation();
}

// Justified nav
@media (min-width: @screen-sm-min) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    .navbar-nav {
        width: 100%;
    }

    .navbar-nav li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

.navbar-brand {
    display: none;
}

.navbar-fixed-top {
    z-index: 99999;
}

.navbar .nav > li {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        > a {
            padding-left: 12px;
            padding-right: 12px;
            font-size: 12px;
        }
    }

    @media (min-width: @screen-md-min) {
        @margin: 5px;
        margin-left: @margin;
        margin-right: @margin;
    }

    @media (min-width: @screen-lg-min) {
        @margin: 5px;
        margin-left: @margin;
        margin-right: @margin;
    }
}

.navbar {
    margin-bottom: 0;
}